root = true

[*]
indent_style = tab
indent_size = 4
shell_variant      = auto # --shell
brace_wrapping_mode= before_opening_brace # --brace-wrapping-mode
binary_next_line   = false # --binary-next-line
switch_case_indent = true # --case-indent
space_redirects    = true # --redirects-indent
keep_padding       = true # --keep-padding
function_next_line = false # --func-next-line

[*.md]
tab_width = 4
end_of_line = lf
charset = utf-8
indent_style = tab
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.{sh,bash,zsh}]
indent_style = tab
indent_size = 4
shell_variant      = auto # --shell
brace_wrapping_mode= before_opening_brace # --brace-wrapping-mode
binary_next_line   = false # --binary-next-line
switch_case_indent = true # --case-indent
space_redirects    = true # --redirects-indent
keep_padding       = true # --keep-padding
function_next_line = false # --func-next-line

[*.[ch]]
indent_style = tab
tab_width = 8
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[{Dockerfile,Containerfile}]
indent_style = tab
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
